<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 <typeAliases>
     <typeAlias type="kr.smhrd.model.MemberVO" alias="MemberVO"/>
     <typeAlias type="kr.smhrd.model.AnswerVO" alias="AnswerVO"/>
     <typeAlias type="kr.smhrd.model.PatientsVO" alias="PatientsVO"/>
     <typeAlias type="kr.smhrd.model.PatientpointVO" alias="PatientpointVO"/>
 </typeAliases>
</configuration>